{% load i18n staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css' %}">
<script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}" ></script>
<script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js' %}" ></script>
<script>
$(document).ready( function () {
    /* Make table sortable */
    $('#main_member_list').DataTable({
        paging: false,
        bFilter: true,
        bInfo : false
    });
});
</script>

<table class="table table-hover" id="main_member_list">
<thead>
<tr>
    {% for key in user_table.keys %}
        <th>{{ key }}</th>
    {% endfor %}
    <th></th>
</tr>
</thead>
<tbody>
{% for current_user in user_table.users %}
<tr>
    <td>
        {{current_user.obj.pk}}
    </td>
    <td>
        <a href="{% url 'core:user:overview' current_user.obj.pk %}">{{current_user.obj}}</a>
    </td>
    <td>
        {{current_user.obj.get_full_name}}
    </td>
    <td data-order="{{current_user.last_log|date:'U'}}">
        {{current_user.last_log|default:'-/-'}}
    </td>
    {% if show_gym %}
    <td>
        {% if current_user.obj.userprofile.gym_id %}
            <a href="{{ current_user.obj.userprofile.gym.get_absolute_url }}">
            {{ current_user.obj.userprofile.gym }}
            </a>
        {% else %}
            -/-
        {% endif %}
    </td>
    {% endif %}
    <td style="text-align: right;">
        <div class="btn-group pull-left">
            <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                {% trans "Manage User" %} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#" style="text-align: center;" data-action="activate"
                       {% if current_user.obj.is_active %} class="btn disabled" {% endif %}
                       data-user="{{ current_user.obj.get_full_name }}"
                       data-url= "{% url 'gym:gym:activate-user' current_user.obj.pk %}?active=true"
                           onclick="modifyUser(this)">
                        {% trans "Activate User" %}
                    </a>
                </li>
                <li>
                    <a href="#" style="text-align: center;" data-action="deactivate"
                       {% if not current_user.obj.is_active %} class="btn disabled" {% endif %}
                       data-user="{{ current_user.obj.get_full_name }}"
                       data-url= "{% url 'gym:gym:activate-user' current_user.obj.pk %}?active=false" onclick="modifyUser(this)">
                        {% trans "Deactivate User" %}
                    </a>
                </li>
                <li>
                    <a href="#" style="color: red; text-align: center;" data-action="delete"
                       data-user="{{ current_user.obj.get_full_name }}"
                       data-url= "{% url 'gym:gym:delete-user' current_user.obj.pk  %}" onclick="modifyUser(this)">
                        {% trans "Delete User" %}
                    </a>
                </li>
            </ul>
            {% if not current_user.obj.is_active %}
            <span class="label label-danger" style="margin-left: 5px;">{% trans "deactivated" %}</span>
            {% endif %}

        </div>

    </td>

</tr>
{% endfor %}
</tbody>
</table>
