{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Your workouts" %}{% endblock %}


{% block content %}
    <div class="list-group">
        {% for workout in workouts %}
            <a href="{{ workout.get_absolute_url }}" class="list-group-item">
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>

                {% if workout == current_workout %}
                <span class="badge">
                    <em>{% trans "active" %}</em>
                </span>
                {% endif %}

                <h4 class="list-group-item-heading">{{ workout }}</h4>
                <p class="list-group-item-text">{{ workout.creation_date }}</p>
                {% if workout.cycle_kind == 'microcycle' %}
                <span class="label label-primary">Microcycle</span>
                {% elif workout.cycle_kind == 'macrocycle' %}
                <span class="label label-info">Macrocycle</span>
                {% elif workout.cycle_kind == 'mesocycle' %}
                <span class="label label-success">Mesocycle</span>
                {% endif %}
            </a>
        {% empty %}
            <a href="{% url 'manager:workout:add' %}" class="list-group-item">
            {% trans "No workouts found." %}<br>{% trans "Add one now." %}
            </a>
        {% endfor %}
    </div>
{% endblock %}


<!--
    Side bar
-->
{% block sidebar %}
<h4>{% trans "Export Workouts" %}</h4>
<div class="row">
    <div class="col-sm-3">
        {% if workouts|length < 1 %}
            <button class="btn btn-success" disabled type="button" >
                Export
            </button>
        {% else %}
            <a href="{% url 'manager:workout:export'%}">
                <button class="btn btn-success" type="button">
                    Export
                </button>
            </a>
        {% endif %}
    </div>
</div>

<br/>
<h4>{% trans "Import Workouts" %}</h4>
<form class="form-inline" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-3">
            <input class="btn btn-success form-control" value="Import" type="submit" />
        </div>

        <div class="col-sm-9">
            <input type="file" name="workoutfile" class="form-control" accept=".json" />
        </div>
    </div>
</form>

{% if messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endif %}

{% endblock %}

{% block options %}
<div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       Add workout
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="{% url 'manager:workout:add' %}?cycle=micro">Microcycle: One week plan</a></li>
      <li><a href="{% url 'manager:workout:add' %}?cycle=meso">Mesocycle: Two to six weeks plan</a></li>
      <li><a href="{% url 'manager:workout:add' %}?cycle=macro">Macrocycle: One year plan</a></li>
    </ul>
  </div>
{% endblock %}
