{% extends "base_features.html" %}
{% load i18n staticfiles wger_extras %}

{#           #}
{# Opengraph #}
{#           #}
{% block opengraph %}
    {{ block.super }}
    <meta property="og:title" content="{% trans 'Features' %} - wger">

    {% with username=owner_user.username %}
        <meta property="og:description" content="{% blocktrans %}wger Workout Manager is a free, open source web application that manages your exercises and workouts. {% endblocktrans %}">
    {% endwith %}
{% endblock %}


{#         #}
{# Content #}
{#         #}
{% block content %}
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">{% trans "Welcome to wger" %}</div>
                <div class="intro-lead-in">{% trans "Your body." %} | {% trans "Your workouts." %} | {% trans "Your data." %} | {% trans "Your progress." %}</div>
                {% if allow_guest_users and not user.is_authenticated %}
                    <a href="{% url 'core:user:demo-entries' %}" class="page-scroll btn btn-xl" rel="nofollow" style="margin-top: 1em;">
                        {% trans "Try it now" %}
                    </a>
                {% endif %}

                {% if not user.is_authenticated or user.userprofile.is_temporary %}
                    {% if allow_registration %}
                        <a href="{% url 'core:user:registration' %}" class="page-scroll btn btn-xl" style="margin-top: 1em;">
                            {% trans "Register" %}
                        </a>
                    {% endif %}

                    <a href="{% url 'core:user:login' %}" class="page-scroll btn btn-xl" style="margin-top: 1em;">
                        {% trans "Login" %}
                    </a>
                {% endif %}


            </div>

            <!-- Include the Features Carousel  Here -->
            {% include "features_carousel.html" %}

        </div>
    </header>

    <!-- Services Section -->
    <section id="services" class="bg-darkest-gray-service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-light">{% trans "Your advantages" %}</h2>
                    <h3 class="section-subheading text-near-white">
                        {% blocktrans trimmed %}
                            wger Workout Manager is a free, open source web application that manages
                            your exercises, workouts and nutrition. It started as a pet project of
                            mine to replace my growing collection of different spreadsheets, but it
                            has become something other people could also find useful.
                        {% endblocktrans %}
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading text-light">{% trans "Workouts" %}</h4>
                    <p class="text-near-white">
                        {% blocktrans trimmed %}
                            You can create and manage flexible workout routines for any goals you
                            have. Select exactly which exercises you'll do and how many repetitions,
                            time or distance you want to do them. You can also combine different
                            workouts into a schedule.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading text-light">{% trans "Nutrition" %}</h4>
                    <p class="text-near-white">
                        {% blocktrans trimmed %}
                            Create your personal diet plan by creating as many meals with as many
                            different ingredients as you need. The application will calculate the
                            nutritional values (total energy, protein, carbohydrates, and so on)
                            about the whole plan as well as the indivual meals.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading text-light">{% trans 'Diary' %}</h4>
                    <p class="text-near-white">
                        {% blocktrans trimmed %}
                            Enter the weights and repetitions you did for each exercise to generate
                            diagrams that let you see at a glance how well you are doing. The raw
                            numbers are of course still accessible.
                        {% endblocktrans %}
                        {% trans "You can also enter notes and a general impression (great, neutral, etc.)" %}
                    </p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
